---
layout: page
title: Autosit
subtitle: Autonomous ships, intentions and situational awareness - Master thesis proposals
---

<div class="list">
    <h3>Long term prediction projects</h3>
    <ul>
    {% for post in paginator.posts %}
    {% if post.category == "LTP" %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    <h3>Far-range sensor fusion projects</h3>
    <ul>
    {% for post in paginator.posts %}
    {% if post.category == "SF" %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    <h3>Close-range sensor fusion projects</h3>
    <ul>
    {% for post in paginator.posts %}
    {% if post.category == "EOT" %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    <h3>Collision avoidance projects</h3>
    <ul>
    {% for post in paginator.posts %}
    {% if post.category == "COLAV" %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
</div>
<div class="main-explain-area jumbotron">
<p>
This page presents project- and master thesis proposals for the Autoferry project. The overall goal of the project is to build and demonstrate a passengerer ferry for autonomous urban water transport. The proposals are relevant for students from a wide range of departments at NTNU, inluding ITK, IMT, IE, ID and IIK.
</p>
<p>
The project has received a lot of media attention, for example <a href="https://trondheim24.no/nyheter/forerlos-framtid-flotmann-baten/">this article.</a>
</p>
</div>
