---
layout: page
title: Autoferry
subtitle: Autonomous all-electric passenger ferries for urban water transport - Master thesis proposals
---

<div class="list">
    <h3>Automation and autonomy projects</h3>
    <ul>
    {% for post in paginator.posts %}
    {% if post.category == "COLAV" %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    <h3>Sensor fusion projects</h3>
    <ul>
    {% for post in paginator.posts %}
    {% if post.category == "SF" %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    <h3>Power and propulsion projects</h3>
    <ul>
    {% for post in paginator.posts %}
    {% if post.category == "MISC" %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    <h3>Human factors projects</h3>
    <ul>
        {% for post in paginator.posts %}
        {% if post.category == "MISC" %}
        <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <h3>Communications and cyber security projects</h3>
    <ul>
        {% for post in paginator.posts %}
        {% if post.category == "MISC" %}
        <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <h3>Risk management projects</h3>
    <ul>
        {% for post in paginator.posts %}
        {% if post.category == "MISC" %}
        <li><a href="{{ post.url | prepend: site.baseurl }}" style="color: #000000">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="main-explain-area jumbotron">
    <p>This page presents project- and master thesis proposals for the Autoferry project. Many of the results from the suggested theses can be verified with the gathered data, or tested in new experiments. Matlab and Python are the main tools used for development and simulation. Some project software is developed using <a href="http://www.ros.org/">ROS</a></p>
    
    <p>General information about the project can be found at <a href="https://www.ntnu.no/ansatte/edmundfo">Edmund Brekke's</a> website.</p>
</div>
